## Load datasets

In [2]:
#!pip install pandas
import pandas as pd

train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

## Create dummy variables for categorical colums
The main fact table has region and country data that could influence company behavior with respect to emissions due to different standards/regulations across the world.

We will take the region column (region_code) and create a new boolean column for each unique region in the dataset that can be used in a model.

In [3]:
#create true/false columns for every region value in the dataset
def one_hot_encode_region(df):
    df = pd.get_dummies(df, columns=["region_code"])
    return df

#apply to train dataset
train = one_hot_encode_region(train)
#also apply to test dataset so we can have it ready for inference later
test = one_hot_encode_region(test)

#print newly added columns
train.filter(regex='^region_code')

,region_code_ANZ,region_code_CAR,region_code_EA,region_code_EEU,region_code_LATAM,region_code_NAM,region_code_WEU
0,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True
3,False,False,False,False,False,True,False
4,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...
424,False,False,False,False,False,True,False
425,False,False,False,False,False,True,False
426,False,False,False,False,False,False,True
427,False,False,False,False,False,True,False
428,False,False,False,False,False,True,False

## Build entity-level features from the sector distribution table
Since this table has a 1:many relationship with our train/test tables (i.e., a company might have more than one sector) so we will need to transform the data in this table so that there is one row per entity that we can then join back to the train/test table.

We will sum the revenue percentage up to the level 1 NACE code for each entity and turning the NACE codes into columns so we can have one row per entity.

In [4]:
#load sector distribution table
sect = pd.read_csv("../data/revenue_distribution_by_sector.csv")

#pivot by entity and nace level 1 while summing up the revenue percentage
level_1_sect = sect.pivot_table(
    values='revenue_pct',
    index='entity_id',
    columns='nace_level_1_code',
    aggfunc='sum',
    fill_value=0
).add_prefix('sect_').add_suffix('_pct').reset_index()

#join the sector features to the train and test data
train = train.merge(level_1_sect, on='entity_id')
test = test.merge(level_1_sect, on='entity_id')

#print newly added columns
train.filter(regex='^sect_')

,sect_A_pct,sect_B_pct,sect_C_pct,sect_D_pct,sect_E_pct,sect_F_pct,sect_G_pct,sect_H_pct,sect_I_pct,sect_J_pct,sect_K_pct,sect_L_pct,sect_M_pct,sect_N_pct,sect_O_pct,sect_P_pct,sect_Q_pct,sect_R_pct,sect_S_pct,sect_T_pct
0,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.862102,0.0,0.0,0.137898,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425,0.0,0.0,0.0,0.0,0.0,0.0,0.19518,0.0,0.0,0.772506,0.0,0.0,0.032314,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
428,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,1.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Build environmental activity features
Similar to the sector distribution table, this table also has 1:many relationship. However, while a company can have multiple environmental activities listed, the company can also have NO environmental activities so it will be not be listed at all in this dataset. The absence of environmental activities potentially a predictive signal for emissions as well that we can incorporate.

We will sum the `env_score_adjustment` column to see the total impact of each company's environmental activities.

In [5]:
#load dataset
env = pd.read_csv("../data/environmental_activities.csv")

#pivot by entity and nace level 1 while summing up the revenue percentage
env_adjustment = env.groupby('entity_id')['env_score_adjustment'].sum().reset_index()

#when joining this new feature to the train/test data we have to
# be careful not to drop any records since we know not every
# entity partakes ina additional environmental activities
train = train.merge(env_adjustment, on='entity_id', how='left') #left join to not drop train records
test = test.merge(env_adjustment, on='entity_id', how='left') #left join to not drop test records

#we also need to replace nulls with 0 for the companies that dont have environmental activities
# meaning they are not receiving any additional benefit or penalty
train['env_score_adjustment'] = train['env_score_adjustment'].fillna(0)
test['env_score_adjustment'] = test['env_score_adjustment'].fillna(0)

#print our new column
train['env_score_adjustment']

0     -0.100000
1      0.004256
2      0.000000
3      0.000000
4     -0.300000
         ...
424    0.000000
425    0.000000
426   -0.950000
427   -0.500000
428   -0.100000
Name: env_score_adjustment, Length: 429, dtype: float64

## Build features related to sustainable development goals
This table is similar to the environmental activities in that it is 1:many but not all companies have committed to these goals publicly.

Let's use a combination of the techniques we've applied previously to create features related to sustainable development goals.

In [6]:
#load dataset
sdg = pd.read_csv("../data/sustainable_development_goals.csv")

#create true/false columns for every SDG value in the dataset
# but first drop the column we dont need
sdg = sdg.drop(columns=['sdg_name'])
sdg = pd.get_dummies(sdg, columns=["sdg_id"])

sdg = sdg.groupby('entity_id').sum().reset_index()

#joining these features to the train/test data using left join
# to not drop any companies that don't have an SDG
train = train.merge(sdg, on='entity_id', how='left')
test = test.merge(sdg, on='entity_id', how='left')

#replace nulls with False for the companies that dont have SDGs
sdg_cols_train = train.filter(like='sdg').columns
train[sdg_cols_train] = train[sdg_cols_train].fillna(0)
sdg_cols_test = test.filter(like='sdg').columns
test[sdg_cols_test] = test[sdg_cols_test].fillna(0)

#print newly added columns
train.filter(regex='^sdg_')

,sdg_id_2,sdg_id_3,sdg_id_4,sdg_id_5,sdg_id_6,sdg_id_7,sdg_id_8,sdg_id_9,sdg_id_11,sdg_id_12,sdg_id_13,sdg_id_16
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Feature Selection
We have now put together a dataset of nearly 50 columns that we can use as features for our model training. It is unlikely that all of these columns will provide an equal amout of signal to help us predict emissions and in many cases training with too many features (especially features  with little predictive power) actually hurts the performance of several types of statistical/machine learning models.

We will use a very basic form of feature selection to exclude columns that have values that are too similar or clustered together and will likely not give us any predictive power. Another very common form of feature selection involves calculating the correlation between the target variable you are trying to predict and each potential feature column.

In [7]:
#!pip install scikit-learn
from sklearn.feature_selection import VarianceThreshold

# Exclude non-feature columns from our feature selection process
cols_to_exclude = ['entity_id', 'region_name', 'country_name', 'country_code', 'target_scope_1', 'target_scope_2']
full_feature_set = train.drop(columns=cols_to_exclude)

# Identify features with variance above threshold (default = 0)
feature_selector = VarianceThreshold(threshold=0.05).fit(full_feature_set)

#print the selected features
selected_features = feature_selector.get_feature_names_out().tolist()
selected_features

['revenue',
 'overall_score',
 'environmental_score',
 'social_score',
 'governance_score',
 'region_code_NAM',
 'region_code_WEU',
 'sect_C_pct',
 'sect_G_pct',
 'sect_J_pct',
 'env_score_adjustment',
 'sdg_id_3',
 'sdg_id_9']

In [17]:
# print(train)
# print(test)
import numpy as np

# Handle skewed revenue
train['revenue_log'] = np.log1p(train['revenue'])
test['revenue_log'] = np.log1p(test['revenue'])

# Add the new feature to the selected features list
selected_features.append('revenue_log')

#create new dataframes with the selected features and entity_id and target variables
final_train = train[selected_features + ['entity_id','target_scope_1', 'target_scope_2']]
final_test = test[selected_features + ['entity_id']]

final_train.to_pickle(path='final_train.pkl')
final_test.to_pickle(path='final_test.pkl')

print(final_train)
print(final_test)

          revenue  overall_score  environmental_score  social_score  \
0    3.528060e+08          2.988                3.900         1.750
1    1.513700e+09          2.770                3.004         2.942
2    1.560000e+09          2.501                2.979         2.560
3    1.238511e+10          3.207                3.776         3.000
4    2.980000e+09          1.998                2.138         1.785
..            ...            ...                  ...           ...
424  5.510000e+09          2.994                3.875         2.560
425  5.510000e+10          2.425                2.629         2.354
426  1.020000e+10          2.358                2.354         3.000
427  6.090000e+08          2.958                3.500         3.063
428  1.540000e+09          3.102                3.900         3.000

     governance_score  region_code_NAM  region_code_WEU  sect_C_pct  \
0               2.833            False             True         1.0
1               2.143             True            False         0.0
2               1.571            False             True         0.0
3               2.429             True            False         0.0
4               2.000            False             True         0.0
..                ...              ...              ...         ...
424             1.929             True            False         1.0
425             2.143             True            False         0.0
426             1.595            False             True         1.0
427             1.857             True            False         1.0
428             1.786             True            False         0.0

     sect_G_pct  sect_J_pct  ...  revenue_log  revenue_log  revenue_log  \
0       0.00000    0.000000  ...    19.681429    19.681429    19.681429
1       0.00000    0.862102  ...    21.137823    21.137823    21.137823
2       0.00000    1.000000  ...    21.167952    21.167952    21.167952
3       0.00000    0.000000  ...    23.239761    23.239761    23.239761
4       0.00000    1.000000  ...    21.815189    21.815189    21.815189
..          ...         ...  ...          ...          ...          ...
424     0.00000    0.000000  ...    22.429830    22.429830    22.429830
425     0.19518    0.772506  ...    24.732416    24.732416    24.732416
426     0.00000    0.000000  ...    23.045654    23.045654    23.045654
427     0.00000    0.000000  ...    20.227329    20.227329    20.227329
428     0.00000    0.000000  ...    21.155048    21.155048    21.155048

     revenue_log  revenue_log  revenue_log  revenue_log  entity_id  \
0      19.681429    19.681429    19.681429    19.681429       1782
1      21.137823    21.137823    21.137823    21.137823       3918
2      21.167952    21.167952    21.167952    21.167952      10299
3      23.239761    23.239761    23.239761    23.239761       2324
4      21.815189    21.815189    21.815189    21.815189       1206
..           ...          ...          ...          ...        ...
424    22.429830    22.429830    22.429830    22.429830       1750
425    24.732416    24.732416    24.732416    24.732416       4090
426    23.045654    23.045654    23.045654    23.045654       4098
427    20.227329    20.227329    20.227329    20.227329       1777
428    21.155048    21.155048    21.155048    21.155048       3387

     target_scope_1  target_scope_2
0              60.0             0.0
1             265.0             0.0
2            1136.0             0.0
3            1468.0             0.0
4            1802.0             0.0
..              ...             ...
424        631252.0        862769.0
425        431504.0       1105788.0
426        250372.0       1503357.0
427        144025.0       1597469.0
428        442406.0       2061608.0

[429 rows x 24 columns]
         revenue  overall_score  environmental_score  social_score  \
0   1.670000e+09          3.170                3.940         2.692
1   5.880000e+08          2.976                4.000         2.014
2   1.218100e+09          2.835                3.258         2.955
3   5.037500e+09          2.861                3.360         2.950
4   1.415400e+09          2.950                3.550         2.900
5   1.830000e+09          2.401                2.502         3.000
6   2.197000e+08          3.328                3.611         3.000
7   3.204930e+08          3.197                3.900         2.900
8   5.664920e+08          3.093                4.000         3.000
9   7.878100e+09          3.606                3.397         4.722
10  2.230000e+08          2.576                3.167         1.952
11  1.496137e+09          2.872                3.181         3.015
12  7.615000e+08          3.124                4.000         2.806
13  2.247316e+09          2.507                2.350         2.888
14  5.894900e+08          3.335                3.647         2.730
15  1.206800e+09          3.099                3.508         2.965
16  7.399000e+08          3.350                4.163         2.819
17  3.519224e+09          2.846                3.134         2.900
18  1.051830e+09          2.732                3.000         3.000
19  1.270000e+09          3.391                3.817         3.000
20  3.480000e+09          3.454                4.726         2.996
21  1.584652e+09          2.679                3.320         1.865
22  4.546928e+09          3.087                3.703         2.711
23  4.490000e+08          2.818                3.105         2.750
24  1.000300e+09          2.830                3.084         3.000
25  6.545710e+08          3.194                3.900         3.250
26  8.839660e+08          2.938                3.115         2.500
27  1.440000e+09          3.384                4.013         2.900
28  3.020000e+09          2.207                2.249         2.256
29  4.710000e+09          2.941                3.759         2.737
30  2.320000e+10          3.035                3.775         2.250
31  1.605096e+09          3.453                4.000         3.150
32  2.965400e+09          2.812                2.935         3.344
33  8.692670e+08          3.643                4.205         3.315
34  1.915568e+09          2.938                3.143         2.956
35  2.644040e+09          3.108                4.020         2.900
36  2.673500e+09          2.203                2.658         2.107
37  1.210000e+10          2.516                3.139         1.715
38  5.209500e+09          3.422                4.396         2.908
39  9.367560e+08          2.749                3.022         2.783
40  1.210060e+10          3.066                4.156         2.794
41  2.380000e+10          3.217                3.889         2.272
42  1.175700e+09          3.643                2.884         4.900
43  6.680000e+09          3.099                3.932         2.886
44  5.237161e+09          3.567                4.911         3.095
45  1.147530e+10          3.248                4.150         2.909
46  1.877500e+09          2.967                3.866         2.900
47  1.229470e+10          3.798                4.651         3.804
48  5.387820e+08          3.309                4.400         3.000

    governance_score  region_code_NAM  region_code_WEU  sect_C_pct  \
0              2.357            False             True    1.000000
1              2.286            False             True    0.580000
2              1.929            False             True    1.000000
3              1.857            False             True    1.000000
4              1.929            False             True    0.000000
5              1.500            False             True    0.000000
6              3.214            False             True    1.000000
7              2.286            False             True    1.000000
8              1.571             True            False    0.000000
9              2.643            False             True    0.000000
10             2.262            False             True    0.000000
11             2.143            False             True    0.000000
12             1.929            False             True    1.000000
13             2.333            False             True    1.000000
14             3.500            False             True    1.000000
15             2.524            False             True    0.116819
16             2.524            False             True    1.000000
17             2.262            False             True    1.000000
18             1.929             True            False    0.000000
19             3.095            False             True    1.000000
20             1.714            False             True    0.983788
21             2.500             True            False    0.000000
22             2.429             True            False    0.422810
23             2.381             True            False    0.000000
24             2.167            False             True    0.000000
25             1.857            False             True    1.000000
26             3.143            False             True    0.000000
27             2.833             True            False    1.000000
28             2.071            False             True    0.005062
29             1.714             True            False    1.000000
30             2.643             True            False    1.000000
31             2.833             True            False    1.000000
32             1.952            False             True    1.000000
33             3.024            False             True    1.000000
34             2.548             True            False    0.000000
35             1.714            False             True    1.000000
36             1.500            False             True    0.000000
37             2.357             True            False    0.000000
38             2.286            False             True    0.000000
39             2.214            False             True    0.000000
40             1.429             True            False    0.926667
41             3.143            False             True    0.500000
42             3.500            False             True    0.000000
43             1.857             True            False    0.857870
44             1.714             True            False    1.000000
45             2.029             True            False    0.830000
46             1.429            False             True    1.000000
47             2.257            False             True    0.000000
48             1.714             True            False    1.000000

    sect_G_pct  sect_J_pct  ...  sdg_id_9  revenue_log  revenue_log  \
0     0.000000    0.000000  ...       0.0    21.236089    21.236089
1     0.000000    0.000000  ...       0.0    20.192238    20.192238
2     0.000000    0.000000  ...       1.0    20.920558    20.920558
3     0.000000    0.000000  ...       0.0    22.340176    22.340176
4     1.000000    0.000000  ...       0.0    21.070678    21.070678
5     0.746000    0.000000  ...       0.0    21.327582    21.327582
6     0.000000    0.000000  ...       0.0    19.207774    19.207774
7     0.000000    0.000000  ...       0.0    19.585371    19.585371
8     0.000000    0.000000  ...       0.0    20.154974    20.154974
9     0.000000    0.010433  ...       0.0    22.787353    22.787353
10    0.000000    0.666667  ...       0.0    19.222682    19.222682
11    0.000000    0.000000  ...       0.0    21.126152    21.126152
12    0.000000    0.000000  ...       0.0    20.450801    20.450801
13    0.000000    0.000000  ...       0.0    21.533002    21.533002
14    0.000000    0.000000  ...       0.0    20.194768    20.194768
15    0.000000    0.000000  ...       0.0    20.911238    20.911238
16    0.000000    0.000000  ...       0.0    20.422026    20.422026
17    0.000000    0.000000  ...       0.0    21.981506    21.981506
18    0.000000    1.000000  ...       0.0    20.773797    20.773797
19    0.000000    0.000000  ...       0.0    20.962283    20.962283
20    0.000000    0.016212  ...       0.0    21.970298    21.970298
21    0.000000    0.000000  ...       0.0    21.183631    21.183631
22    0.000000    0.000000  ...       0.0    22.237718    22.237718
23    0.000000    1.000000  ...       0.0    19.922533    19.922533
24    0.000000    1.000000  ...       0.0    20.723566    20.723566
25    0.000000    0.000000  ...       0.0    20.299491    20.299491
26    0.000000    0.650917  ...       0.0    20.599929    20.599929
27    0.000000    0.000000  ...       0.0    21.087909    21.087909
28    0.000000    0.994938  ...       1.0    21.828523    21.828523
29    0.000000    0.000000  ...       0.0    22.272954    22.272954
30    0.000000    0.000000  ...       0.0    23.867418    23.867418
31    0.000000    0.000000  ...       0.0    21.196449    21.196449
32    0.000000    0.000000  ...       0.0    21.810278    21.810278
33    0.000000    0.000000  ...       0.0    20.583161    20.583161
34    0.000000    0.000000  ...       0.0    21.373280    21.373280
35    0.000000    0.000000  ...       0.0    21.695574    21.695574
36    0.500000    0.500000  ...       1.0    21.706654    21.706654
37    0.000000    0.000000  ...       0.0    23.216471    23.216471
38    0.191112    0.000000  ...       0.0    22.373750    22.373750
39    0.000000    0.180000  ...       0.0    20.657933    20.657933
40    0.000000    0.000000  ...       1.0    23.216521    23.216521
41    0.500000    0.000000  ...       0.0    23.892951    23.892951
42    0.000000    0.000000  ...       0.0    20.885130    20.885130
43    0.000000    0.000000  ...       0.0    22.622384    22.622384
44    0.000000    0.000000  ...       0.0    22.379045    22.379045
45    0.000000    0.000000  ...       0.0    23.163463    23.163463
46    0.000000    0.000000  ...       0.0    21.353207    21.353207
47    0.000000    0.500000  ...       0.0    23.232434    23.232434
48    0.000000    0.000000  ...       0.0    20.104822    20.104822

    revenue_log  revenue_log  revenue_log  revenue_log  revenue_log  \
0     21.236089    21.236089    21.236089    21.236089    21.236089
1     20.192238    20.192238    20.192238    20.192238    20.192238
2     20.920558    20.920558    20.920558    20.920558    20.920558
3     22.340176    22.340176    22.340176    22.340176    22.340176
4     21.070678    21.070678    21.070678    21.070678    21.070678
5     21.327582    21.327582    21.327582    21.327582    21.327582
6     19.207774    19.207774    19.207774    19.207774    19.207774
7     19.585371    19.585371    19.585371    19.585371    19.585371
8     20.154974    20.154974    20.154974    20.154974    20.154974
9     22.787353    22.787353    22.787353    22.787353    22.787353
10    19.222682    19.222682    19.222682    19.222682    19.222682
11    21.126152    21.126152    21.126152    21.126152    21.126152
12    20.450801    20.450801    20.450801    20.450801    20.450801
13    21.533002    21.533002    21.533002    21.533002    21.533002
14    20.194768    20.194768    20.194768    20.194768    20.194768
15    20.911238    20.911238    20.911238    20.911238    20.911238
16    20.422026    20.422026    20.422026    20.422026    20.422026
17    21.981506    21.981506    21.981506    21.981506    21.981506
18    20.773797    20.773797    20.773797    20.773797    20.773797
19    20.962283    20.962283    20.962283    20.962283    20.962283
20    21.970298    21.970298    21.970298    21.970298    21.970298
21    21.183631    21.183631    21.183631    21.183631    21.183631
22    22.237718    22.237718    22.237718    22.237718    22.237718
23    19.922533    19.922533    19.922533    19.922533    19.922533
24    20.723566    20.723566    20.723566    20.723566    20.723566
25    20.299491    20.299491    20.299491    20.299491    20.299491
26    20.599929    20.599929    20.599929    20.599929    20.599929
27    21.087909    21.087909    21.087909    21.087909    21.087909
28    21.828523    21.828523    21.828523    21.828523    21.828523
29    22.272954    22.272954    22.272954    22.272954    22.272954
30    23.867418    23.867418    23.867418    23.867418    23.867418
31    21.196449    21.196449    21.196449    21.196449    21.196449
32    21.810278    21.810278    21.810278    21.810278    21.810278
33    20.583161    20.583161    20.583161    20.583161    20.583161
34    21.373280    21.373280    21.373280    21.373280    21.373280
35    21.695574    21.695574    21.695574    21.695574    21.695574
36    21.706654    21.706654    21.706654    21.706654    21.706654
37    23.216471    23.216471    23.216471    23.216471    23.216471
38    22.373750    22.373750    22.373750    22.373750    22.373750
39    20.657933    20.657933    20.657933    20.657933    20.657933
40    23.216521    23.216521    23.216521    23.216521    23.216521
41    23.892951    23.892951    23.892951    23.892951    23.892951
42    20.885130    20.885130    20.885130    20.885130    20.885130
43    22.622384    22.622384    22.622384    22.622384    22.622384
44    22.379045    22.379045    22.379045    22.379045    22.379045
45    23.163463    23.163463    23.163463    23.163463    23.163463
46    21.353207    21.353207    21.353207    21.353207    21.353207
47    23.232434    23.232434    23.232434    23.232434    23.232434
48    20.104822    20.104822    20.104822    20.104822    20.104822

    revenue_log  entity_id
0     21.236089       1076
1     20.192238       2067
2     20.920558        910
3     22.340176       4082
4     21.070678       4102
5     21.327582       1535
6     19.207774       4213
7     19.585371        107
8     20.154974       2301
9     22.787353       1463
10    19.222682       1141
11    21.126152         68
12    20.450801      10307
13    21.533002       1495
14    20.194768       3742
15    20.911238       1275
16    20.422026       3616
17    21.981506       1863
18    20.773797       3490
19    20.962283         97
20    21.970298       1691
21    21.183631       2748
22    22.237718       3169
23    19.922533       2258
24    20.723566       3381
25    20.299491       1529
26    20.599929       2578
27    21.087909       3598
28    21.828523       3749
29    22.272954       3551
30    23.867418       1676
31    21.196449       2199
32    21.810278       1277
33    20.583161       2728
34    21.373280       2467
35    21.695574       4130
36    21.706654       2349
37    23.216471       2266
38    22.373750      10615
39    20.657933      10699
40    23.216521       3542
41    23.892951      10727
42    20.885130       1596
43    22.622384       4058
44    22.379045       2210
45    23.163463       3227
46    21.353207       2744
47    23.232434      10773
48    20.104822       2986

[49 rows x 22 columns]

In [20]:
import pandas as pd

# Load cleaned feature-engineered data
train = pd.read_pickle('final_train.pkl')
test = pd.read_pickle('final_test.pkl')

# Separate features and targets
selected_features = [col for col in train.columns 
                     if col not in ['entity_id', 'target_scope_1', 'target_scope_2']]

x_train = train[selected_features]
y_scope1 = train['target_scope_1']
y_scope2 = train['target_scope_2']

x_test = test[selected_features]
entity_id_test = test['entity_id']

import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

def validate_model(x, y):
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('model', LinearRegression())
    ])
    
    kfold = KFold(n_splits=5, shuffle=True, random_state=42)
    scores = cross_val_score(
        pipeline,
        x,
        y,
        cv=kfold,
        scoring='neg_mean_squared_error'
    )
    
    rmse = np.sqrt(-scores)
    
    print("RMSE scores:", rmse)
    print("Mean RMSE:", rmse.mean())
    print("Std RMSE:", rmse.std())

print("Scope 1 results:")
validate_model(x_train, y_scope1)

print("\nScope 2 results:")
validate_model(x_train, y_scope2)

Scope 1 results:
RMSE scores: [133422.78132096  98572.95659937 106891.89022782  91938.02672004
  91389.65056992]
Mean RMSE: 104443.06108762408
Std RMSE: 15537.351681296037

Scope 2 results:
RMSE scores: [167419.49212111 185236.19964815  86912.76537692  80307.22373449
 274623.85227414]
Mean RMSE: 158899.90663096122
Std RMSE: 71438.32804990481

In [21]:
# Train final Scope 1 model
s1_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LinearRegression())
])
s1_pipeline.fit(x_train, y_scope1)

# Train final Scope 2 model
s2_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LinearRegression())
])
s2_pipeline.fit(x_train, y_scope2)

# Predict
s1_predictions = s1_pipeline.predict(x_test)
s2_predictions = s2_pipeline.predict(x_test)

In [22]:
submission = pd.DataFrame({
    'entity_id': entity_id_test,
    's1_predictions': s1_predictions,
    's2_predictions': s2_predictions
})

submission.to_csv('submission.csv', index=False)

submission

    entity_id  s1_predictions  s2_predictions
0        1076    37056.263192    40174.828246
1        2067    58002.419505    35322.087395
2         910    76265.572092   106384.876228
3        4082   113703.913695   102490.485434
4        4102    26894.692547    12794.286425
5        1535    31112.238727    32314.365748
6        4213    40518.885760    13657.458861
7         107    44412.657023    52360.028431
8        2301    30945.341291    54399.125330
9        1463    45546.407009    34748.201501
10       1141   -25376.980247     9106.234428
11         68    33613.265126    21252.220620
12      10307    69993.851985    66846.096621
13       1495    93540.702850    83902.137970
14       3742    68803.439899    32526.795852
15       1275    39301.988634    -7371.127572
16       3616    70958.473579    50559.936080
17       1863   103470.971503   100278.528883
18       3490    -1718.662291    24725.482562
19         97    83379.751142    50849.644062
20       1691   102056.307566   114105.209617
21       2748    77609.179282    51697.983244
22       3169   110084.812577    90985.096397
23       2258   -20603.366324     1560.332483
24       3381   -26452.342844   -22200.729559
25       1529    59141.136447    53409.256562
26       2578   -54911.496551   -64726.493804
27       3598   106329.585068   117165.751670
28       3749    12408.486041    59754.872647
29       3551   136407.960137   147146.246646
30       1676   130090.400635   130160.441180
31       2199   106467.393160    88051.000559
32       1277    90536.270334   103448.101294
33       2728    65569.143113    38474.223519
34       2467    65141.976444    48936.948900
35       4130    95116.301449   104279.422822
36       2349    35810.060094    61392.296843
37       2266    77103.587847   123581.601225
38      10615    69561.401650    37243.934204
39      10699    15226.813668     7921.809688
40       3542   152585.763903   200213.692205
41      10727    87623.474685    68836.927762
42       1596    -4667.444030    -6479.847170
43       4058   138231.092013   135607.760118
44       2210   133686.906049   139694.016856
45       3227   145443.686318   146066.418270
46       2744    88091.011073   102043.505793
47      10773    52653.773389    41154.719426
48       2986    75656.193440   108667.409670

## Create our final datasets with our new features for training and inference
We will use these datasets in the `baseline_model_and_inference.ipynb` to train a model and use it to submit our predictions

In [23]:
#create new dataframes with the selected features and entity_id and target variables
final_train = train[selected_features + ['entity_id','target_scope_1', 'target_scope_2']]
final_test = test[selected_features + ['entity_id']]

final_train.to_pickle(path='final_train.pkl')
final_test.to_pickle(path='final_test.pkl')